*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(/img/pexels-photo-1643113.jpeg);
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;
    width: 100%;
}
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
h2,h3{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    color: rgb(68, 93, 238);
}
div.form{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 520px;
    padding: 50px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #efe8e8;
}
form#main{
    margin: 30px;
    width: 100%;
}
textarea{
    resize: none;
}
#btn{
    width: 50%;
    padding: 8px;
    margin-left: 80px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 5px;
    background-color: #d27b0a;
    border: 1px solid #efeded;
    cursor: pointer;
    margin-bottom: 20px;
}
